---
import ShareButtons from "../generic/ShareButtons.astro";
import ViewCounter from "../generic/ViewCounter.astro";

interface Props {
  content: any;
  slug?: string;
}

const { content, slug } = Astro.props;
---

<article class="prose-slate w-sm md:w-prose md:prose poppins">
  <a href="/blog/" title="Back to blog">&larr; Volver al blog</a>
  <p class="text-slate text-sm md:text-base">
    Publicado el {content.pubDate} por {content.author}
  </p>
  {slug && <ViewCounter postSlug={slug} title={content.title} />}
  <ShareButtons title={content.title} description={content.description} />
  <slot />
  <p class="text-slate">Escrito por {content.author}</p>
  <a href="/blog/" title="Back to blog">&larr; Volver al blog</a>
</article>
